body
{
	font-size: 14px;
	font-family:sans-serif;
	padding:0;
	margin:0;
	background-color:#FFF;
	text-align:justify;
	min-width:900px;
	line-height:18px;
	
}

#header
{
	padding:5px 0 5px 0;
	height:100px;
	background-color:#3e93c0;
	color:#FFF;
}
#headers
{
	
	padding:5px 0 5px 0;
	height:40px;
	background-color:#3e93c0;
	color:#FFF;
	margin:0px auto;
	width:550px;
}
#header h1
{
	width:320px;
	margin:0px auto;
	top:50px;
	position:relative;
}
#radio_input
{
	margin-top:20px;
	margin-right:10px;
}

.labels p
{
	display:inline;
	clear:none;
	color:#555;
	font-size:16px;
	font-weight: bold;
	margin-left:30px;
}

.labels .values
{
	position:absolute;
	left:200px;
	color:#999;
}

.subheader
{
	margin:10px auto;
	border:1px solid #8fdeff;
	position:relative;
	top:30px;
	padding-bottom:10px;
	
}

.subheader .header
{
	width:100%;
	height:50px;
	background-color:#3e93c0;
	top:0px;
}

.subheader h2
{
	color:#FFF;
	padding:15px;
	margin-left:10px;
}
.center_div
{
	width:50%;
	margin:0px auto;
}

.leftfloat
{
	float:left;
}

.rightfloat
{
	float:right;
}
.margin10
{
	margin:10px auto; 
}

.textbox1
{
	border:1px solid #8fdeff;
	height:20px;
	padding:5px;
	width:90%;
	margin:10px;
	display:block;
	clear:both;
	color:#AAA;
}
.textbox2
{
	border:1px solid #8fdeff;
	height:20px;
	padding:5px;
	width:200px;
	margin:10px;
	color:#AAA;
	display:block;
	clear:right;
}
.drop
{
	border:1px solid #8fdeff;
	height:30px;
	padding:5px;
	width:210px;
	margin:10px;
	color:#AAA;
	display:block;
	clear:right;
}
.formrow
{
	display:block;
	clear:both;
	margin:5px;
	height:50px;
}

.label1
{
	float:left;
	margin-left:50px;
	color:#555;
	margin-top:20px;
	font-size:18px;
	display:block;
	clear:left;
}
.button_blue
{
	background-color:#3e93c0;
	padding:5px;
	color:#FFF;
	border:0px;
}
.buttons
{
	margin:0px auto;
	width:450px;
	padding:5px;
}

.display_block
{
	display:block;
	clear:both;
}

.margintTop100
{
	margin-top:100px;
}


.width100
{
	width:100px;
}
.width200
{
	width:200px;
}
.width300
{
	width:300px;
}
.width400
{
	width:400px;
}
.width500
{
	width:500px;
}
.width600
{
	width:600px;
}
.width700
{
	width:700px;
	
}
.width800
{
	width:800px;
}

.height100
{
	height:100px;
}
.height200
{
	height:200px;
}
.height300
{
	height:300px;
}
.height400
{
	height:400px;
}
.height500
{
	height:500px;
}
.height600
{
	height:600px;
}
.height700
{
	height:700px;
}
.height800
{
	height:800px;
}