<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TaxHouseWeb</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginValidation</display-name>
    <servlet-name>LoginValidation</servlet-name>
    <servlet-class>com.taxhouse.servlet.LoginValidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginValidation</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertProcessing</display-name>
    <servlet-name>InsertProcessing</servlet-name>
    <servlet-class>com.taxhouse.servlet.InsertProcessing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertProcessing</servlet-name>
    <url-pattern>/insert.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeProcessing</display-name>
    <servlet-name>EmployeeProcessing</servlet-name>
    <servlet-class>com.taxhouse.servlet.EmployeeProcessing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeProcessing</servlet-name>
    <url-pattern>/insert_employee.do</url-pattern>
  </servlet-mapping>
</web-app>